repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: poetry.lock
  - id: trailing-whitespace
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
    args: [ "--profile", "black", "--filter-files" ]
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      args: ["--line-length", "120"]
- repo: https://github.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
    - id: flake8
      args: [ "--config", ".flake8" ]
      additional_dependencies: [ "flake8-quotes" ]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.942
  hooks:
    - id: mypy
